.home-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.left-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.right-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
}

.profile-card {
  max-width: 600px;
}

.profile-image {
  width: 100%;
  position: absolute;
  margin-left: 400px;
  margin-top: 180px;
  height: 400px;
  width: 400px;
  
}

.subtitle {
  letter-spacing: 2px;
  color: #777;
  text-transform: uppercase;
}

.title {
  font-size: 36px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

.description {
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

.source {
  margin-top: 10px;
  font-size: 14px;
}

.read-button {
  margin-top: 25px;
  padding: 12px 24px;
  font-size: 16px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-button:hover {
  background-color: #000;
  color: #fff;
}

